@media (max-width: 992px) {
    .form-inline .form-control {
    display: inline-block;
    width: calc(100% - 100px);
    vertical-align: middle;
}
}
@media (max-width: 430px) {
    .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
}
@media (max-width: 430px) {
    .search-btn{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7579FF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.btn-outline-success {
    color: #7579FF;
    background-color: transparent;
    background-image: none;
    border-color: #7579FF;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #7579FF;
    border-color: #7579FF;
}

.btn-outline-success {
    color: #7579FF;
    background-color: transparent;
    background-image: none;
    border-color: #7579FF;
}